.currencies_main{
    background: linear-gradient(180deg, #FAFBFD 50%,  #FFFFFF 96.57%);
}
.currencies_header{
    text-align: center;
    padding-top: 120px;
    margin-top: 0;
    margin-bottom: 80px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 111.9%;
    color: #160647;
}
.currencies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 65%;
    margin: auto;
    column-gap: 100px;
    row-gap: 80px;
    margin-bottom: 140px;
}
.currency{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.currency img{
    width: 32px;
    height: 32px;
    margin-right: 30px;
}
.currency_text{
    display: flex;
    flex-direction: column;
    width: 120px;
}
.currency_name{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A4AABF;
}
.currency_value{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.5%;
    color: #160647;
}