@import url("/src/Fonts/fonts.css");

.main_top{
    background: linear-gradient(140.59deg, #562EC2 29.59%, #A07EFE 73.59%);
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 4% 0 5%;
}
.main_top_text {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    font-family: Rubik;
}
.main_top_texts{
    font-size: 18px;
}
.main_top_info{
    padding: 5% 3% 5% 3%;
    margin: 0 3% 0 3%;
    background-color: #FFFFFF;
    border: 4px solid #F7F8FD;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
    .main_top_info_arrows{
        opacity: 0.5;
        width: 21px;
        height: 21px;
        margin-top: 80px;
        margin-right: 25px;
    }
    .main_top_info_give input{
        border: 0;
        width: 50%;
        height: 38px;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.015em;
        color: #094067;
        padding: 0;
        outline: none;
    }
        .main_top_info_give input::placeholder{
            color: #212529;
            opacity: 0.4;
        }
    .main_top_info_give h2 {
        margin-top: 0;
        font-family: 'Rubik';
        font-style: normal;
        color: #4E5983;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 31px;
    }
    .main_top_info_give p {
        margin-top: 0;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #4E5983;
        opacity: 0.5;
    }
    .main_top_info_give img{
        border-left: 1px solid #D6DCE2;
        padding-left: 14px;

    }
    .main_top_info_give_event{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        border-bottom: 1px solid #D6DCE2;
        padding-bottom: 5px;

    }
        .main_top_info_give_event_un{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }
    .main_top_info_get input{
        border: 0;
        width: 50%;
        height: 38px;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.015em;
        color: #094067;
        padding: 0;
        outline: none;

    }
        .main_top_info_get input::placeholder{
            color: #212529;
            opacity: 0.4;
        }
        .main_top_info_get_{
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: start;
        }
    .main_top_info_get h2 {
        margin-top: 0;
        display: inline;
        margin-right: 10px;
        font-family: 'Rubik';
        font-style: normal;
        color: #4E5983;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .main_top_info_get p {
        margin-top: 0;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: rgba(78,89,131,0.5);
    }
    .main_top_info_get img{
        border-left: 1px solid #D6DCE2;
        padding-left: 14px;

    }
    .main_top_info_get_event{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        border-bottom: 1px solid #D6DCE2;
        padding-bottom: 5px;

    }
    .main_top_info_get_event_un{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

.main_top_info_convert{
    width: 157px;
    height: 55px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: linear-gradient(140.59deg, #562EC2 29.59%, #A07EFE 73.59%);
    opacity: 0.8;
    border-radius: 9px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 70px;
    cursor: pointer;
}

.select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline:  none;
    padding: 8px 32px 8px 16px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}
.select-wrapper{
    position: relative;
}

.select-wrapper::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: #4E5983 transparent transparent transparent;

}