html,body{
    margin: 0;
}
.nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
}
.logo_img {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #643DCD transparent;
}
.logo_name{
    display: flex;
    margin-left: 10px;
}
.logo_name_1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 24px;
    color: #160647;

}
.logo_name_2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #160647;
}
    .nav_navigation{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        padding: 0;
    }
        .nav_navigation_1{
            cursor: pointer;
            padding: 6px 12px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #4E5983;
        }
    .nav_enter{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
    }
        .nav_btn_enter{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border-radius: 9px;
            background-color: #FFFFFF;
            padding: 12px 18px;
            cursor: pointer;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #4E5983;
        }
        .nav_btn_regist {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border-radius: 9px;
            padding: 14px 18px;
            cursor: pointer;
            background-color: rgba(161,127,255,0.11);
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #4E5983;
        }
.logo_copy{
    display: none;
    align-items: center;
}
.adapt_h{
    display: flex;
    align-items: center;
    justify-content: space-around;
}